; Config::Simple 4.59
; Fri Feb 19 17:28:27 2016

[sources]
graph=/home/stud2013/ovoroshylov/Clustering/wurst-background/var/graph/salami.ncol
imbiss=/home/stud2013/ovoroshylov/Clustering/wurst-background/var/imbiss/salami.csv


