; Config::Simple 4.59
; Fri Feb 19 15:20:41 2016

[sources]
imbiss=/home/stud2013/ovoroshylov/Clustering/wurst-background/var/imbiss/aacid.csv
graph=/home/stud2013/ovoroshylov/Clustering/wurst-background/var/graph/aacid.ncol


