; Config::Simple 4.59
; Fri Feb 19 17:36:37 2016

[bin]
starter=/home/stud2013/ovoroshylov/Clustering/wurst-cluster/clustering_aacid.sh

[sources]
graph=/home/stud2013/ovoroshylov/Clustering/wurst-background/var/graph/aacid.ncol
cluster=/home/stud2013/ovoroshylov/Clustering/wurst-background/var/cluster/aacid.clust


