; Config::Simple 4.59
; Fri Feb 19 17:36:37 2016

[bin]
starter=/home/stud2013/ovoroshylov/Clustering/wurst-cluster/clustering_salami.sh

[sources]
cluster=/home/stud2013/ovoroshylov/Clustering/wurst-background/var/cluster/salami.clust
graph=/home/stud2013/ovoroshylov/Clustering/wurst-background/var/graph/salami.ncol


