; Config::Simple 4.59
; Fri Feb 19 15:20:41 2016

[sources]
graph=/home/stud2013/ovoroshylov/Clustering/wurst-background/var/graph/aacid.ncol
cluster=/home/stud2013/ovoroshylov/Clustering/wurst-background/var/cluster/aacid.clust

[bin]
starter=/home/stud2013/ovoroshylov/Clustering/wurst-cluster/clustering_aacid.sh


