; Config::Simple 4.59
; Wed Feb 24 17:11:40 2016

[sources]
graph=/home/stud2013/ovoroshylov/Clustering/wurst-background/var/graph/salami.ncol
cluster=/home/stud2013/ovoroshylov/Clustering/wurst-background/var/cluster/salami.clust

[bin]
starter=/home/stud2013/ovoroshylov/Clustering/wurst-cluster/clustering.sh


