; Config::Simple 4.59
; Wed Apr 13 17:47:34 2016

[sources]
alphabet=/home/other/wurst/wurst-background/opt/alphabet_t500

[vector]
folder=/work/public/no_backup/bm/pdb_all_6mer_struct
collection=/home/other/wurst/wurst-background/var/veclist.txt

[sequence]
folder=/work/public/no_backup/bm/pdb_all_6mer_struct/seq
collection=/home/other/wurst/wurst-background/var/seqlist.txt

