; Config::Simple 4.59
; Wed Apr 13 17:28:35 2016

[structure]
cluster=/home/other/wurst/wurst-background/var/structure.clust
graph=/home/other/wurst/wurst-background/var/structure.ncol

[settings]
interval=999999999
lastrun=1460561315

[sequence]
graph=/home/other/wurst/wurst-background/var/sequence.ncol
cluster=/home/other/wurst/wurst-background/var/sequence.clust

[bin]
starter=/home/other/wurst/wurst-background/projects/wurst-cluster/starter
status=/home/other/wurst/wurst-background/projects/wurst-cluster/status


