; Config::Simple 4.59
; Thu Mar 10 18:19:20 2016

[result]
structure=/home/other/wurst/wurst-background/var/structure.csv
sequence=/home/other/wurst/wurst-background/var/sequence.csv

[settings]
interval=604800
lastrun=1457630360

[bin]
status=/home/other/wurst/wurst-background/projects/wurst-imbiss/status
starter=/home/other/wurst/wurst-background/projects/wurst-imbiss/starter
exporter=/home/other/wurst/wurst-background/projects/wurst-imbiss/exporter


