; Config::Simple 4.59
; Thu Mar 10 17:00:24 2016

[result]
output=/home/other/wurst/wurst-background/var/merge.csv

[structure]
graph=/home/other/wurst/wurst-background/var/structure.ncol
cluster=/home/other/wurst/wurst-background/var/structure.clust

[sequence]
cluster=/home/other/wurst/wurst-background/var/sequence.clust
graph=/home/other/wurst/wurst-background/var/sequence.ncol


