; Config::Simple 4.59
; Thu Apr 14 00:12:45 2016

[sequence]
graph=/home/other/wurst/wurst-background/var/sequence.ncol
cluster=/home/other/wurst/wurst-background/var/sequence.clust

[structure]
graph=/home/other/wurst/wurst-background/var/structure.ncol
cluster=/home/other/wurst/wurst-background/var/structure.clust

[result]
output=/home/other/wurst/wurst-background/var/merge.csv

[settings]
lastrun=1460585565


