; Config::Simple 4.59
; Tue Mar  8 17:12:13 2016

[settings]
lastrun=1457453533
# Rebuild vectores every week(in seconds)
interval=604800

[bin]
starter=/home/other/wurst/wurst-background/projects/wurst-vector/starter
status=/home/other/wurst/wurst-background/projects/wurst-vector/status
