; Config::Simple 4.59
; Tue May 10 16:13:42 2016

[settings]
lastrun=1462889622
interval=604800

[bin]
starter=/home/other/wurst/wurst-background/projects/wurst-vector/starter
status=/home/other/wurst/wurst-background/projects/wurst-vector/status


