; Config::Simple 4.59
; Fri Apr  1 15:49:18 2016

[requirements]
sequences=/home/other/wurst/wurst-background/var/seqlist.txt


[result]
sequence=/home/other/wurst/wurst-background/var/sequence.csv
structure=/home/other/wurst/wurst-background/var/structure.csv


