; Config::Simple 4.59
; Fri Feb 19 18:14:57 2016

[server]
accept=10
wakeup=3
timeout_before_jobs=180
timeout_after_jobs=30
port=7003
delay=0
gracefully=0

[worker]
timeout_before_jobs=180
port=7003
timeout_after_jobs=30
host=idea

[background]
updated=1455902097

[planner]
cluster=/home/stud2013/ovoroshylov/Clustering/wurst-background/salami.d/00configvec/../../var/vector/clusters90.txt
port=7003
source=/work/public/no_backup/pdb/data/structures/divided/pdb
library=/work/public/no_backup/bm/pdb_lib.list
output_list=/home/stud2013/ovoroshylov/Clustering/wurst-background/salami.d/00configvec/../../var/vector/pdb_all.list
class_vec2=/work/public/no_backup/bm/F7_ca_mod
output_vec2=/home/stud2013/ovoroshylov/Clustering/wurst-background/salami.d/00configvec/../../var/vector/vec2
host=idea
temp=/home/stud2013/ovoroshylov/Clustering/wurst-background/salami.d/00configvec/../../var/vector/tmp
class_vec1=/work/public/no_backup/bm/classfile
output_bin=/home/stud2013/ovoroshylov/Clustering/wurst-background/salami.d/00configvec/../../var/vectorbin
output_vec1=/home/stud2013/ovoroshylov/Clustering/wurst-background/salami.d/00configvec/../../var/vectorvec1


